/ProgramaPernas/nbproject/private/
/ProgramaPernas/build/
/Poo02/nbproject/private/
/Poo02/build/
/CadastroIO/nbproject/private/
/CadastroIO/build/
/Teste2Enviar/nbproject/private/
/Teste2Enviar/build/
/Array/nbproject/private/
/Array/build/
/Array2/nbproject/private/
/Array2/build/